/*----- Imports -----*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto+Slab:wght@600&display=swap');
:root{
    --bgColor: #fff;
    --font: 'Open Sans', sans-serif;
    /*--- Añadir variables aqui ---*/
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgColor);
}

/*----- Section starting -----*/

header{
    width: 100%;
    height: max-content;
    /*background-color: blueviolet;*/
    background-image: linear-gradient(to bottom right, rgba(255, 166, 0, 0.829), rgb(161, 65, 173), rgb(76, 40, 110), rgb(68, 15, 104));

}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}

header nav .logo{
    width: 150px;
    position: relative;
    top: 10px;
}

header nav img{
    width: 100%;
}

header nav a{
    color: white;
    padding: 2px 10px;
    margin: 0 2px;
    font-family: 'Mukta', sans-serif;
    font-size: 11.5pt;
    letter-spacing: 0.8px;
}

header nav a#go-premium{
    background-color: rgb(188, 29, 202);
    font-weight: bolder;
    font-size: 10pt;
    padding: 10px 17px;
    border-radius: 23px;
    margin: 0 15px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

header .header-content{
    
    margin: 30px auto;
    width: 75%;
    display: flex;
    justify-content: space-around;
}

header .header-content .content-info{
    /*background-color: red;*/
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .header-content .img-header{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

header .header-content .img-header img{
    width: 100%;
}

header .header-content .content-info .content-text{
    /*background-color: rebeccapurple;*/
    padding: 30px 0;
}

header .header-content .content-info .content-text h1{
    font-size: 40pt;
    color: white;
    font-weight: bolder;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
}

header .header-content .content-info .content-text h6{
    font-family: 'Mukta', sans-serif;
    font-size: 20pt;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1.5px;
    font-weight: 500;
    margin: 10px 0;
}

header .header-content .content-info .content-buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
    /*background-color: palevioletred;*/
}

header .header-content .content-info .content-buttons button.cellphone{
    width: 45%;
    background-color: black;
    color: white;
    border: none;
    padding: 25px 20px;
    border-radius: 50px;
    margin: 20px 0
}

header .header-content .content-info .content-buttons button.computer{
    width: 95%;
    /*color: orange;*/
    background-color: white;
    border: none;
    padding: 25px 20px;
    border-radius: 50px;
}

header .header-content .content-info .content-buttons button:hover{
    cursor: pointer;
}
/*----- Section ending -----*/